    
    
    
    <footer class="text-center text-white" style="background-color: #f1f1f1;">
        <!-- Grid container -->
        <div class="container pt-4">
          <!-- Section: Social media -->
          <section class="mb-4">
            <!-- Facebook -->
            <a
              class="btn btn-link btn-floating btn-lg text-dark m-1"
              href="https://www.facebook.com/events/543026274464458/615617130538705?active_tab=about"
              target="_blank"
              role="button"
              data-mdb-ripple-color="dark"
              ><i class="fab fa-facebook-f"></i
            ></a>
      
            <!-- Facebook Messenger -->
            <a
              class="btn btn-link btn-floating btn-lg text-dark m-1"
              href="https://www.facebook.com/drcinematic"
              role="button"
              target="_blank"
              data-mdb-ripple-color="dark"
              ><i class="fab fa-facebook-messenger"></i
            ></a>
      
            <!-- Telegram -->
            <a
              class="btn btn-link btn-floating btn-lg text-dark m-1"
              href="https://t.me/+aBq_l21cFns4Y2Nh"
              target="_blank"
              role="button"
              data-mdb-ripple-color="dark"
              ><i class="fab fa-telegram"></i
            ></a>

            <!-- site -->
            <a
              class="btn btn-link btn-floating btn-lg text-dark m-1"
              href="https://ppphotofriends.netlify.app/"
              target="_blank"
              role="button"
              data-mdb-ripple-color="dark">
              <i class="fa-solid fa-globe"></i>
            </a>

            
      
            
          <!-- Section: Social media -->
        </div>
        <!-- Grid container -->
      
        <!-- Copyright -->
        <div class="text-center text-dark p-3" style="background-color: rgba(0, 0, 0, 0.2);">
          © 2023 |
          Site developed and designed by: <a class="text-dark" target="_blank" href="https://martinislas.netlify.app/">Martin Islas</a> | Phtotos by: <a class="text-dark" target="_blank" href="https://ppphotofriends.netlify.app/">Phnom Penh Photo Friends</a>
        </div>
        <!-- Copyright -->
      </footer>
    
    
    
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/js/bootstrap.bundle.min.js" integrity="sha384-JEW9xMcG8R+pH31jmWH6WWP0WintQrMb4s7ZOdauHnUtxwoG2vI5DkLtS3qm9Ekf" crossorigin="anonymous"></script>  
    
</body>
</html>