<%- include('partials/header') -%>

<header>
    
  
   
  
    <!-- Background image -->
    <div id="intro-example" class="p-5 text-center">
      <div class="mask" style="background-color: rgba(0, 0, 0, 0.7);">
        <div class="d-flex justify-content-center align-items-center h-100">
          <div class="text-white">
            <h1 class="display-3" style="margin-bottom: 4rem;">Phnom Penh PhotoFriends</h1>
            <h3>
                We are a diverse group of photographers
                <small class="text-muted">that get together once a month to walk Phnom Penh and take photos.</small>
            </h3>
            
            <a
              class="btn btn-outline-light btn-lg m-2"
              href="/login"
              role="button"
              rel="nofollow"
              
            >Login</a>
            <a
              class="btn btn-outline-light btn-lg m-2"
              href="/signup"
              
              role="button"
            >Signup</a>
            <a
              class="btn btn-outline-light btn-lg m-2"
              href="/feed"
              
              role="button"
            >Enter as a guess</a>
          </div>
        </div>
      </div>
    </div>
    <!-- Background image -->
  </header>








    

<%- include('partials/footer') -%>